/* Paleta de cores (Catpuccin Mocha)*/

:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
  --inverted-text: var(--crust);
  --selection-color: var(--mauve);
  --bright-cyan: #00F7F9;
}

body {
  margin: 0;
  background-color: var(--mantle);
  color: var(--text);
  overflow-x: hidden;
  background-color: var(--base);
  font-family: sans-serif;
}

header {
  background-color: var(--mantle);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.nav {
  background-color: transparent;
  backdrop-filter: blur(24px);
  border-bottom: 1px solid var(--surface0);
  box-shadow: 0 4px 30px var(--base);
  top: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.logo {
  color: var(--mauve);
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: -0.05rem;
}

.conteudo-nav {
  display: flex;
  gap: 2rem;
}

.conteudo-nav a {
  color: var(--text);
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.875rem;
  text-decoration: none;
}

.matricula {
  background-color: var(--mauve);
  color: var(--inverted-text);
  padding: 0.5rem 1.25rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
}

.matricula:active {
  transform: scale(0.95);
}

.titulo {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base);

  /*efeito de glow ao fundo*/
  background-image: radial-gradient(
    ellipse 60% 50% at 50% 50%,
    rgba(137, 180, 250, 0.20) 0%,
    rgba(203, 166, 247, 0.15) 40%,
    transparent 70%
  );
}

.titulo_conteudo { 
  text-align: center;
  max-width: 700px; /* largarua do texto*/
  padding: 2rem; /* n encostar na lateral*/
  margin: 0 auto;
}

.titulo_titulo {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 800;
  color: var(--text);
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.titulo_subtitulo {
  color: var(--subtext0);
  max-width: 500px;
  margin: 0 auto 2.5rem;
  line-height: 1.7;
}

.titulo_botao {
  display: inline-block;
  padding: 1rem 2.5rem;
  background-color: var(--sky);
  color: var(--base);
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: filter 0.2s ease, transform 0.2s ease; /* animação ao passar o mouse */
}

.titulo_botao:hover {
  filter: brightness(1.15);
  transform: translateY(-2px);
}

.card_professor {
  display: flex;
  align-items: center;
  background-color: #121214;
  border: 1px solid #29292e;
  border-radius: 12px;
  padding: 32px;
  gap: 40px;
  max-width: 900px;
  margin: 40px auto;
}

.imagem_professor {
  width: 250px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.info_professor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.professor_label {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e1e1e6;
  margin-bottom: 12px;
}

.nome_professor {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 16px 0;
}

.bio_professor {
  font-size: 16px;
  color: #a8a8b3;
  line-height: 1.6;
  margin: 0 0 24px 0;
}

.certificado_professor {
  display: flex;
  gap: 24px;
  align-items: center;
}

.certificado {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.sumario{
  max-width: 900px;
  margin:80px auto;
  display: flex;
  flex-direction:column;
  gap: 12px;
}

.item{
  background-color: var(--crust);
  border: var(--surface0);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.corpo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}

.cabecalho {
  flex: 1;
  font-size: 18px;
  color: var(--text);
}

.botao {
  color: var(--overlay1);
  transition: transform 0.3s ease;
}


.conteudo{
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  color: var(--subtext0);
  transition: all 0.3s ease;
}


.item.active .conteudo {
  max-height: 200px;
  padding: 20px;
}

.item.active .botao {
  transform: rotate(180deg);
}

.secao-comercial {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 20px;
  display: none; 
  opacity: 0;   
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.secao-comercial.visivel {
  display: grid; 
  animation: aparecerSuave 0.5s ease forwards; 
}

.card_preco{
  background-color: var(--surface0);
  border: 1px solid var(--surface1);
  border-radius: 16px;
  padding: 40px;
  position: relative;
  box-shadow: 0 0 30px rgba(0,247,249,0.05);
}

.card-preco:hover{
  transform: scale(1.02);
  box-shadow: 0 0 50px rgba(0, 247, 249, 0.1);
}

.badge_oferta{
  position: absolute;
  top: -15px;
  right: 20px;
  background: var(--mauve);
  color: var(--base);
  padding: 4px 12px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
}

.preco_valor{
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--text);
  margin: 10px 0;
}

.preco-valor span{}

.form_matricula{
  background-color: var(--crust);
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(0,247,249,0.2);
}

.form_matricula h3{
  text-align: center;
  color: var(--text);
  font-weight: bold;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 30px;
}

.input-group {
    margin-bottom: 25px; 
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.input-group label {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--subtext0); 
    letter-spacing: 0.05em;
}

.input-group input, 
.input-group select {
    padding: 15px;
    background-color: var(--base); 
    border: 1px solid var(--surface0);
    border-radius: 8px; 
    color: var(--text);
    outline: none;
    transition: border-color 0.3s;
    font-size: 1rem;
}

.input-group input:focus,
.input-group select:focus {
    border-color: rgba(0,  247, 249, 0.5); 
}


.input-group input::placeholder {
  color: var(--overlay1);
}


.input-group select {
  appearance: none; 
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236c7086' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 15px;
  cursor: pointer;
}


.botao-enviar-cyan {
    width: 100%;
    padding: 18px; 
    background-color: var(--bright-cyan); 
    color: var(--base); 
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.125rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: filter 0.2s, transform 0.1s;
    box-shadow: 0 4px 15px rgba(0, 247, 249, 0.2);
}

.botao-enviar-cyan:hover {
    filter: brightness(1.1);
}

.botao-enviar-cyan:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 247, 249, 0.15);
}

@media (max-width: 900px) {
    .secao-comercial {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}


@keyframes aparecerSuave {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}